/* these are not available in react natives css props but need for proper display in browser */
.bingo-field {
  aspect-ratio: 1;
  border-radius: 4px;
  flex-basis: calc(20% - 2px);
  min-width: 1px;
}

.text {
  white-space: normal;
  word-break: break-word;
  hyphens: auto;
}
